In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bluff,NZ,2021-01-20 17:52:34,-46.6000,168.3333,53.01,83,67,10.00
1,1,Ushuaia,AR,2021-01-20 17:52:34,-54.8000,-68.3000,59.00,47,40,16.11
2,2,Avarua,CK,2021-01-20 17:52:35,-21.2078,-159.7750,80.60,83,20,6.91
3,3,Nome,US,2021-01-20 17:52:35,64.5011,-165.4064,10.40,61,90,6.91
4,4,Rikitea,PF,2021-01-20 17:52:36,-23.1203,-134.9692,78.10,75,25,15.17

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudy
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Avarua,CK,2021-01-20 17:52:35,-21.2078,-159.7750,80.60,83,20,6.91
4,4,Rikitea,PF,2021-01-20 17:52:36,-23.1203,-134.9692,78.10,75,25,15.17
5,5,Cairns,AU,2021-01-20 17:48:14,-16.9167,145.7667,75.20,94,75,8.05
7,7,Acapulco,MX,2021-01-20 17:51:28,16.8634,-99.8901,86.00,58,20,4.61
10,10,Port Blair,IN,2021-01-20 17:52:39,11.6667,92.7500,77.47,66,71,7.45
15,15,Mwanza,TZ,2021-01-20 17:50:52,-2.5167,32.9000,75.20,69,75,4.16
17,17,Arraial Do Cabo,BR,2021-01-20 17:52:43,-22.9661,-42.0278,89.60,58,0,24.16
24,24,Oistins,BB,2021-01-20 17:52:48,13.0667,-59.5333,82.40,65,40,18.41
28,28,Tuburan,PH,2021-01-20 17:52:52,6.6439,122.2736,81.21,79,84,4.14
29,29,Araouane,ML,2021-01-20 17:52:52,18.9048,-3.5265,76.33,16,16,7.92

In [16]:
preferred_cities_df.count()

City_ID       172
City          172
Country       170
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2            Avarua      CK     80.60 -21.2078 -159.7750
4           Rikitea      PF     78.10 -23.1203 -134.9692
5            Cairns      AU     75.20 -16.9167  145.7667
7          Acapulco      MX     86.00  16.8634  -99.8901
10       Port Blair      IN     77.47  11.6667   92.7500
15           Mwanza      TZ     75.20  -2.5167   32.9000
17  Arraial Do Cabo      BR     89.60 -22.9661  -42.0278
24          Oistins      BB     82.40  13.0667  -59.5333
28          Tuburan      PH     81.21   6.6439  122.2736
29         Araouane      ML     76.33  18.9048   -3.5265

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Avarua,CK,80.60,-21.2078,-159.7750,Paradise Inn
4,Rikitea,PF,78.10,-23.1203,-134.9692,Pension Maro'i
5,Cairns,AU,75.20,-16.9167,145.7667,Mantra Trilogy Cairns
7,Acapulco,MX,86.00,16.8634,-99.8901,HS Hotsson Smart Acapulco
10,Port Blair,IN,77.47,11.6667,92.7500,Welcomhotel Bay Island Port Blair
...,...,...,...,...,...,...
550,Camocim,BR,83.82,-2.9022,-40.8411,Hotel Ilha do Amor
557,Dingle,PH,76.14,10.9995,122.6711,SEGAYA PROPERTY
559,Bara,NG,76.98,10.3744,10.7288,
560,Yulara,AU,78.80,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
561,Sinnamary,GF,81.72,5.3833,-52.9500,ALETHEIA Appartement Sinnamary

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))