## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Iqaluit,CA,63.7506,-68.5145,6.80,78,1,23.02,clear sky
1,1,Tura,IN,25.5198,90.2201,70.68,44,78,2.59,broken clouds
2,2,Skegness,GB,53.1436,0.3363,33.01,100,40,4.61,fog
3,3,Grand Gaube,MU,-20.0064,57.6608,84.00,71,4,1.99,clear sky
4,4,Westport,US,41.1415,-73.3579,23.00,55,0,15.90,clear sky

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Grand Gaube,MU,-20.0064,57.6608,84.00,71,4,1.99,clear sky
6,6,Dingle,PH,10.9995,122.6711,84.87,69,100,5.21,overcast clouds
8,8,Souillac,MU,-20.5167,57.5167,75.20,94,40,2.30,scattered clouds
12,12,Cayenne,GF,4.9333,-52.3333,75.20,100,90,11.27,overcast clouds
14,14,Rikitea,PF,-23.1203,-134.9692,79.54,65,0,7.52,clear sky
15,15,Vaini,TO,-21.2000,-175.2000,82.40,83,75,8.05,light rain
18,18,Hobart,AU,-42.8794,147.3294,90.00,50,75,13.80,broken clouds
19,19,Port Blair,IN,11.6667,92.7500,80.92,60,7,10.54,clear sky
21,21,Biri,PH,12.6833,124.3636,81.10,75,0,4.79,clear sky
22,22,Honiara,SB,-9.4333,159.9500,85.46,60,100,5.91,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                169
City                   169
Country                169
Lat                    169
Lng                    169
Max Temp               169
Humidity               169
Cloudiness             169
Wind Speed             169
Current Description    169
dtype: int64

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Grand Gaube,MU,84.00,clear sky,-20.0064,57.6608,
6,Dingle,PH,84.87,overcast clouds,10.9995,122.6711,
8,Souillac,MU,75.20,scattered clouds,-20.5167,57.5167,
12,Cayenne,GF,75.20,overcast clouds,4.9333,-52.3333,
14,Rikitea,PF,79.54,clear sky,-23.1203,-134.9692,
15,Vaini,TO,82.40,light rain,-21.2000,-175.2000,
18,Hobart,AU,90.00,broken clouds,-42.8794,147.3294,
19,Port Blair,IN,80.92,clear sky,11.6667,92.7500,
21,Biri,PH,81.10,clear sky,12.6833,124.3636,
22,Honiara,SB,85.46,overcast clouds,-9.4333,159.9500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [9]:
# 7. Drop the rows where there is no Hotel Name.

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure