## Deliverable 3. Create a Travel Itinerary Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_data_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
# vacation_df.head()
vacation_data_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Grand Gaube,MU,84.00,clear sky,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
1,6,Dingle,PH,84.87,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
2,8,Souillac,MU,75.20,scattered clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
3,12,Cayenne,GF,75.20,overcast clouds,4.9333,-52.3333,Hôtel Le Dronmi
4,14,Rikitea,PF,79.54,clear sky,-23.1203,-134.9692,Pension Maro'i

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_data_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_data_df[["Lat", "Lng"]]

In [13]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_data_df[["Lat", "Lng"]]
max_temp = vacation_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_data_df.loc[(vacation_data_df.City == 'Quelimane')]
vacation_end = vacation_data_df.loc[(vacation_data_df.City == 'Quelimane')]
vacation_stop1 = vacation_data_df.loc[(vacation_data_df.City == 'Dondo')]
vacation_stop2 = vacation_data_df.loc[(vacation_data_df.City == 'Inhambane')] 
vacation_stop3 = vacation_data_df.loc[(vacation_data_df.City == 'Tsabong')]

In [50]:
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
24,92,Quelimane,MZ,77.0,light rain,-17.8786,36.8883,Hotel Flamingo

In [51]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
161,693,Dondo,MZ,75.87,overcast clouds,-19.6094,34.7431,Arco Iris

In [52]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
86,402,Inhambane,MZ,80.53,overcast clouds,-23.865,35.3833,Oceano

In [53]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
54,255,Tsabong,BW,76.68,broken clouds,-26.0217,22.401,Springbok Motel

In [44]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [45]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets
gmaps.configure(api_key=g_key)

# Latitude-longitude pairs
Quelimane = (-17.8786, 36.8883)
Dondo = (-19.6094, 34.7431)
Inhambane = (-23.865, 35.3833)
Tsabong = (-26.0217, 22.401)

fig = gmaps.figure()
africatrip = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
                                    travel_mode='DRIVING')
fig.add_layer(africatrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [58]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,92,Quelimane,MZ,77.00,light rain,-17.8786,36.8883,Hotel Flamingo
1,693,Dondo,MZ,75.87,overcast clouds,-19.6094,34.7431,Arco Iris
2,402,Inhambane,MZ,80.53,overcast clouds,-23.8650,35.3833,Oceano
3,255,Tsabong,BW,76.68,broken clouds,-26.0217,22.4010,Springbok Motel

In [59]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [61]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))